In [1]:
import pandas as pd
import pickle

In [2]:
tt = pickle.load(open('summary_QpxQpy1_b3b5b7_270GeV_ayyScan_axyNoConstraint_LOD.pkl', 'rb'))

In [3]:
tt

,ayy [1/m],axy [1/m],klof [1/m^4],klod [1/m^4],O3_lof [T/m^3],O3_lod [T/m^3],I_lof [A],I_lod [A]
0,"[-3.3865281417414116e-10, -1999.999999999903, ...","[-454.71369171132477, 543.9573806104584, 1542....","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.047904800269748804, -1.8340876667455863, -3...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[43.14416766559276, -1651.8216412946194, -3346...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.43144167665592764, -16.518216412946195, -33..."

In [4]:
tt['ayy [1/m]']

0    [-3.3865281417414116e-10, -1999.999999999903, ...
Name: ayy [1/m], dtype: object

In [5]:
tt['ayy [1/m]'][0]

[-3.3865281417414116e-10,
 -1999.999999999903,
 -3999.999999999329,
 -5999.999999999446,
 -8000.00000000063,
 -9999.999999999789,
 -11999.999999999898,
 -13999.999999999509,
 -15999.999999999556,
 -17999.999999999975,
 -19999.999999999232,
 -3.3865281417414116e-10,
 1999.9999999998645,
 3999.9999999993233,
 6000.000000000394,
 7999.9999999998745,
 9999.999999999407,
 11999.999999999467,
 14000.000000000076,
 16000.000000000671,
 18000.00000000023,
 19999.999999999196]